.about__conference {
text-align: left;
font-family:'Bebas Neue',cursive;
}
.divided__doots {
    color: rgb(203,78,58);
    text-align:left;
    font-size:73px;
    font-family: 'Bebas Neue', cursive;
}