@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: black;
    --accent-color: #a6c7cf;
    --heading-font: 'Bebas Neue', cursive;
    font-size: 17px;
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
    color: var(--text-color);
}

.container {
    max-width: 1200px;
    margin: auto;
}

img {
    display: block;
    width: 100%;
}

