@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: #1f3138;
    --brand-color: #efc94c;
    --dark-accent-color: #21806a;
    --dark-shade-color: #1f3138;
    --light-shade-color: #fff;
    --light-accent-color: #cb4e3a;
    --link-color: #1f3138;
    --link-color-light: #fff;
    --link-hover-color: #21806a;
    --link-hover-color-light: #cb4e3a;
    --heading-font: 'Bebas Neue', cursive;
    font-size: 17px;
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
    color: var(--text-color);
}

.container {
    max-width: 1200px;
    margin: auto;
}

img {
    display: block;
    width: 100%;
}

