.content {
    background-color: var(--light-shade-color);
    min-width: 320px;
    padding: 60px 24px 60px 24px;
}

.content__container {
    margin-top: 45px;
    height: auto;
    position: relative;
    display: grid;
    grid-row-gap: 33.3px;
    padding: 31px 27px 31px 27px;
}

@media (min-width: 991px) {

    .content__container {
        grid-template-columns: repeat(3, 1fr) !important;
    }
}

@media (min-width: 767px) {

    .content__container {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }
}

.content__box {
    width: 272px;
    min-width: 0px;
    max-width: 100%;
    height: 378.2px;
    margin-top: 0px;
    justify-content: center;
    padding: 20px 25px 20px 25px;

}

.dots {
    font-family: 'Bebas Neue', cursive;
    font-size: 73px;
    color: var(--light-accent-color);
    text-align: center;
    font-style: normal;
    font-weight: 400;
}


.content__title {
    font-family: 'Bebas Neue', cursive;
    color: var(--text-color);
    font-size: 56px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    text-transform: none;
    vertical-align: baseline;
}

.content__box-icon {
    height: 50px;
    width: 50px;
    max-width: 100%;
    justify-content: left;
}

.content__box-title {
    padding: 0;
    font-family: 'Bebas Neue', cursive;
    color: var(--text-color);
    font-size: 24px;
    max-width: 100%;
    font-weight: 400;
    line-height: 33.6px;
    text-transform: none;
    vertical-align: baseline;
    text-align: left;
    margin-top: 20px;
}

.content__box-description {
    font-family: 'Lato', sans-serif;
    color: var(--text-color);
    font-size: 17px;
    text-align: left;
    line-height: 30.6px;
    text-transform: none;
    vertical-align: baseline;
}