.header {
    background-image: url(../img/heder_image_1200px.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.header__container {
    padding-left: 15px;
    padding-right: 15px;

}

.header__nav-logo-img {
    max-width: 128px;
}

.header__box {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding-top: 130px;
    padding-bottom: 130px;
    justify-content: space-between;
}

.header__title {
    font-family: "Bebas Neue", cursive;
    color: var(--light-shade-color);
    font-size: 64px;
    font-weight: 400;
    text-align: left;
    text-transform: none;
}

.header__subtitle {
    font-family: "Bebas Neue", cursive;
    color: var(--light-shade-color);
    font-size: 34px;
    max-width: 300px;
    margin-top: 35px;
    margin-bottom: 35px;
}

.title__time {
    color: var(--brand-color);
}

.header__title-point {
    color: var(--light-accent-color);
}

@media (min-width: 768px) {
    .header {
        background-image: url(../img/header_image_optimized_1920.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }

    .header__title {
        font-size: 97px;
    }

    .header__subtitle {
        font-size: 37px;
    }
}

@media (min-width: 991px) {
    .header__title {
        font-size: 130px;
    }

    .header__subtitle {
        font-size: 40px;
    }
}

.header__info-action {
    display: flex;
    flex-wrap: wrap;
}

.header__button {
    font-size: 16px;
    font-weight: 700;
    color: rgb(69, 69, 69);
    text-decoration: none;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    padding: 18px 30px 18px 30px;
    margin: 10px;
}

.header__button:hover {
    background-color: var(--link-hover-color-light);
    border: 1px solid var(--light-shade-color);
}

.button__contact {
    background-color: var(--light-shade-color);
}

.button__shedule {
    background-color: var(--brand-color);
}

.header__svg {
    transform: translate(0, 6px);
    height: 26px;
    width: 26px;
    border-radius: 50%;
    color: var(--light-shade-color);
}

.header__svg:hover {
    color: var(--brand-color);
}

.menu__item {
    color: var(--light-shade-color);
    text-decoration: none;
    font-weight: 700;
    margin: 5px 8px 5px 8px;
    padding: 5px 2px 5px 2px;
    text-align: start;
    white-space: nowrap;

}

.menu__item:hover {
    color: var(--brand-color);
}

.header__nav-action-link {
    font-size: 12.6px;
    border: 1px solid var(--light-shade-color);
    padding: 6px 12px 6px 12px;
    height: 26px;
}

.header__nav-action-link:hover {
    background-color: var(--light-shade-color);
    color: var(--text-color);
}

@media (max-width: 990px) {
    body.lock {
        overflow: hidden;
    }

    .link-container-icons {
        margin-top: 30px;
    }

    .header__nav-container {
        position: relative;
        padding-top: 20px;
        z-index: 2;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header__nav-container-burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        padding: 12px;
        cursor: pointer;
    }

    .header__nav-container-burger span,
    .header__nav-container-burger::before,
    .header__nav-container-burger::after {
        position: absolute;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: var(--light-shade-color);
    }

    .header__nav-container-burger::before,
    .header__nav-container-burger::after {
        content: " ";
    }

    .header__nav-container-burger::before {
        top: 0;
    }

    .header__nav-container-burger::after {
        bottom: 0;
    }

    .header__nav,
    .header__nav-wrapper {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 15px 24px 50px 24px;
        overflow: hidden;
        margin: auto;
    }

    .header__nav,
    .header__nav-wrapper.active {
        top: 0;
    }

    .header__nav-wrapper {
        position:fixed;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding-top: 120px;
        background-color: #cb4e3a;
        height: 100vh;
        font-size: 19px;
        
    }

}

@media (min-width: 991px) {
    .header__nav-wrapper {
        display: flex;
        justify-content: end;
    }

    .link-container {
        display: flex;
        flex-direction: column;
    }

    .header__nav {
        display: flex;
        justify-content: space-between;
    }

    .header__nav {
        padding-top: 30PX;
    }

}

@media (min-width: 1052px) {
    .link-container {
        flex-direction: row;
    }
}
