.issues {
    text-align: center;
    padding-bottom: 80px;
    padding-top: 60px;
    background-image: linear-gradient(rgba(203, 78, 58, 0.80), rgba(203, 78, 58, 0.95)), url(../img/issues-bg.webp);
    color: var(--link-color-light);
    font-family: 'Lato', sans-serif;
    background-size: cover;
    background-position: 50% 50%;
}

.issues__title {
    color: var(--link-color-light);
    letter-spacing: -1.46px;
    line-height: 67.2px;
    font-weight: 400;
    margin-bottom: 40px;
}

.issues__subtitle {
    font-size: 20px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.issues__blocks {
    margin-bottom: 10px;
}

.issues__item {
    margin-top: 100px;
}

.issues__item span {
    color: var(--brand-color);
    font-size: 65px;
    font-weight: 400;
    line-height: 78px;
    letter-spacing: -1.3px;
    font-family: 'Bebas Neue', cursive;

}

.divider__points {
    color: var(--brand-color);
    text-align: center;
    font-size: 73px;
    font-family: 'Bebas Neue', cursive;
}

.divider {
    position: relative;
    font-weight: 400;
}

.item__info {
    font-size: 20px;
    padding-top: 20px;
    padding-left: 35px;
    padding-right: 35px;
}

.item__info-time {
    font-size: 17px;
}

@media (min-width: 768px) {
    .issues__blocks {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px 50px;
    }
}

@media (min-width: 992px) {
    .issues__blocks {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .issues__item {
        margin-top: 40px;
        margin-bottom: 50px;
    }
    .item__info {
        padding-top: 20px;
        padding-left: 25px;
        padding-right: 25px;
    }
    .issues__title {
        margin-bottom: 20px;
    }
}

.divider {
    padding-bottom: 15px;
    display: flex;
    color: var(--brand-color);
    font-size: 27px;
    font-family: 'Bebas Neue', cursive;
    justify-content: center;
}