.carousel__main {
    background-color:#1f3138;
    place-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}

.carousel__header {
    font-family: 'Bebas Neue';
    color: #ffffff;
    place-items: center;
    font-size: 56px;
}

.carousel__points {
    color: #CB4E3A;
    font-size: 76px;
    text-align: center;
}

.wrapper .carousel__blocks {
    font-size: 0px;
    white-space: nowrap;
    overflow: hidden;
    scroll-behavior: smooth;
}

.carousel__blocks .dragging {
    scroll-behavior: auto;
    cursor: grab;
}

.carousel__blocks {
    display: flex;
    flex-direction: row;
}

.carousel__blocks .dragging img {
    pointer-events: none;
}

.wrapper {
    max-width: 1200px;
    position: relative;
    cursor: pointer;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;

}

.carousel__blocks img {
    object-fit: cover;
    width: calc(100%/3) !important;
    margin-left: 14px;
}

.carousel__blocks img:first-child {
    margin-left: 0px;
}

.wrapper .btn {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    opacity: 80%;
    transform: translateY(-50%);
}

.wrapper .btn:first-child {
    left: -15px;
}

.wrapper .btn:last-child {
    right: -15px;
}

.wrapper .btn:hover {
    opacity: 100%;
}

.btn-perv {
    rotate: 180deg;
}

.btn-next,
.btn-perv {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

@media(max-width:991px) {
    .carousel__blocks img {
        width: calc(100%/2) !important;
    }
}

@media(max-width:766px) {
    .carousel__blocks img {
        width: 100% !important;
    }
}