.photo-report__gallery {
    display: grid;
    grid-row-gap: 50px;
}

.photo-report__container {
    padding: 60px 24px 90px 24px;
}

@media (min-width: 600px) {

    .photo-report__gallery {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }

}

@media (min-width: 992px) {
    .photo-report__gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}

.photo-report {
    min-height: 100vh;
    background-image: linear-gradient(var(--background-transparent-dark), var(--background-transparent-dark)),
        url("../img/photo-report/photo-report-bg.webp");
    background-position: 0 15%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.pr-font {
    font-size: 56px;
    font-weight: 400;
    color: var(--light-shade-color);
    margin-bottom: 40px;
}

.pr-dots {
    font-size: 73px;
    color: var(--brand-color);
}