
.photo-report__gallery{
    display: grid;
    grid-row-gap: 50px;
}


.photo-report__container{
    padding: 60px 24px 90px 24px;
}

@media (min-width: 968px) {
    .photo-report__gallery{
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
    }
}

.photo-report{
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 123, 151, 0.92), rgba(0, 123, 151, 0.92)),
    url("../img/photo-report-bg.webp");
    background-position: 0 15%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.pr-font{
    font-size: 38px;
    font-weight: 400;
    color: var(--light-shade-color);
    margin-bottom: 40px;
}

.pr-dots{
    font-size: 73px;
    color: var(--brand-color);
}