.photo-report__item{
    max-width: 31.75%;
}

.photo-report__gallery{
    padding: 24px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.photo-report{
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 123, 151, 0.92), rgba(0, 123, 151, 0.92)),
    url("../img/photo-report-bg.webp");
    background-position: 0 15%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}