.speakers__block{
  background-color: #F1EFE5;
}

.text-ui-dark-accent-color{
    font-weight: bold;
    font-size: 73px;
    display: block;
    font-family: "Bebas Neue", cursive;
    box-sizing: border-box;
    color: rgb(33, 128, 136);
    font-style: normal;
    text-transform: none;
    text-align: center;
    width: 100%;
    height: auto;
}
.courses__subtitle{
    text-align: center;
    text-transform: none;
    font-size: 56px;
    font-style: normal;
    font-family:"Bebas Neue", cursive;
    font-weight: 400;
    box-sizing: border-box;
    letter-spacing: -1.46px;
    line-height: 87.6px;
    width: 100%;
    height: auto;
 }
 
 
 .speakers__person{
    text-align: center;
    font-family: "Bebas Neue", cursive;
    font-size: 24px;
 }
 .w-text-content{
    font-family: "Lato", cursive;
    font-weight: 100;
    color: black;
 }
 
  .header__icons{
   width: 30%;
   height: 100%;
   display: block;
   margin: auto;
   display: flex;
  justify-content: space-between;
   
 }
 
 .speakers__person{
    width: 38%;
    height: 100%;
    text-align: center;
    display: block;
    margin: auto;

 }
 .speacers__person-name{
   font-family: "Bebas Neue", cursive;
   font-size: 24px;
   font-weight: 800;
   text-align: center;

 }
 .header__icons{
   width: 30px;
 }
 
   
