.speakers__block {
    background-color: #F1EFE5;
    text-align: center;
}

.text-ui-dark-accent-color {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 73px;
    color: rgb(33, 128, 136);
}

.courses__subtitle {
    text-align: center;
    text-transform: none;
    font-size: 56px;
    font-style: normal;
    font-family: "Bebas Neue", cursive;
    font-weight: 400;
    box-sizing: border-box;
    letter-spacing: -1.46px;
    line-height: 87.6px;
    width: 100%;
    height: auto;
}


.speakers__person {
    text-align: center;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-radius: inherit;
    line-height: 2.0em;
}

.w-text-content {
    font-family: "Lato", cursive;
    font-weight: 100;
    color: black;
}

.header__icons {
    display: flex;
    justify-content: space-between;
    width: 120px;
    margin: 30px auto;
}

.speakers__person {
    text-align: center;
    padding: 0 24px;
}

.speacers__person-name {
    font-family: "Bebas Neue", cursive;
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 23px;
    padding: 0 24px;
}

.social-icon {
    max-width: 32px;
    max-height: 32px;
}

.header__icons a {
    color: var(--light-accent-color);
}

.header__icons a:hover {
    color: rgba(203, 78, 58, 0.80);
}

.speakers__container {
    margin-top: 45px;
    height: auto;
    position: relative;
    display: grid;
    grid-row-gap: 33.3px;
}

.speakers__person img {
    object-fit: cover;
    height: 360px;
}

@media (min-width: 800px) {

    .speakers__container {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (min-width: 990px) {

    .speakers__container {
        grid-template-columns: repeat(4, 1fr);
    }

}